body {
    background-color: blanchedalmond;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    text-align: center;
}

.img {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
